<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Movie Wiz</title>
</head>

<body>

<nav>
    <ul>
        <li><a href=./search>Find a Movie</a></li>
        <li><a href=./list>My Liked Movies</a></li>


    </ul>
</nav>

<h1 id="liked-movies">My Liked Movies</h1>




</body>
</html>